* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;   
    font-family: montserrat;
}
body { 
    
    background: url(img/srjo.jpg);
    position: relative;
    height: 100vh;
    align-content: center;
    justify-content: center;
    display: flex;
    background-size: cover;
    background-position: center;
}
nav{
    height: 80px;
    width: 100%;
    background:  rgb(0, 0, 0);
}
label.logo {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    
    padding: 0 100px;
    line-height: 80px;
}
nav ul {
    
    float: right;
    margin-right: 40px;
}
nav li {
    
    display: inline-block;
    margin: 30px 20px;
    
/*    line ng navbar sa gilid then size niya */
} 
nav a {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}
a.active,a:hover {
    border: 1px solid rgb(255, 255, 255);
    transition: .5s;
} 
.logo {
    cursor: pointer;
}
.full-page {
    
    height: 100%;
    width: 100%;
    background: linear-gradient(rgb(170, 249, 255),rgba(44, 44, 44, 0.9));
    opacity: .4;
    position: absolute;
}

