body{
    background-color: #a7dbe3;
    background-image:url(../css/img/200mbps.png);
    background-size: cover;
    color: green;
    font-size: 21px;
  
    font-family: Calibri,Candara,Segoe, "Segoe UI",Optima,Arial,sans-serif; 
    /* to change text using this / to changes Font is go to www.css.fontstack.com*/
  }
  
  h1 {
    font-size: 70px;
    color:#606fd3;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', 
    sans-serif;
  
     margin-bottom: 0px;
  }
  
  h2 {
    margin-top: 0px;
  }
  
  p {
    margin-top: 0px;
    margin-bottom: 40px;
  
    line-height: 1.4; /* this is the line of parangraph */
  
    font-size: 30px;
   
    color:mediumturquoise

}


a {
color: rgb(92, 53, 199);
text-decoration: none;
}

/*a:visited { /* kukulay lang ito kapag may links ung tinutukoy mo 
    color: palevioletred;
} */

a:hover{
    color:aliceblue ;
    /* this is the color of your future*/
    /*font-size: 40px;
    font-family: serif; */
}

/* a:active { - ito ung magkukulay siya if you click this
    color: blue;
} */

a:hover,
a:focus {
    color: pink
}